.cucei {
    background: url("musa.jpg");
    background-position: center;
    background-size: cover;
}

.form {
    backdrop-filter: blur(16px) saturate(250%);
    -webkit-backdrop-filter: blur(16px) saturate(250%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-weight: 100;
}

.form input {
    padding: 1rem;
    background-color: #1f2a37;
    color: white;
    border: 1px solid rgba(211, 211, 211, 0.7);
    font-weight: 100;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
}

.form input::placeholder {
    color: rgba(211, 211, 211, 0.7);
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
